<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
    <link rel="stylesheet" href="/css/mainstyle.css">
    <title>About Me</title>
</head>
<body>
    {{>nav}}



    <section class="main" id="main">
        <div class="main-dis" style="order: 2;">
            <h2 class= "main-heading">I am Abhishek, Full Stack Web Developer</h2>
            <p class="para-dis">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.Temporibus aliquid minus earum quo, architecto cum laborum! Odit dolor a voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, nesciunt!
            </p>
            <a href="" class="btn">Read More</a>
        </div>
        <figure class="main-img-cont">
            <img src="./img/abhi.png" class="main-img" alt="" srcset="">
        </figure>
    </section>
    {{>footer}}
    <script src="/js/script.js"></script>

</body>
</html>