<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
    <link rel="stylesheet" href="/css/errorstyle.css">
    <title>ERROR</title>
</head>
<body>
    {{>nav}}

    <section class="error-cont">
        <h1>404 Error</h1>
        <p>Page does not exist</p>
        <a href="/">Go to home page</a>
    </section>


    {{>footer}}
    <script src="/js/script.js"></script>

</body>
</html>