<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlink}}
    <link rel="stylesheet" href="/css/mainstyle.css">
    <title>Home</title>
</head>
<body>
    {{>nav}}



    <section class="main" id="main">
        <div class="main-dis">
            <h2 class= "main-heading">Hii There, Welcome to Home Page </h2>
            <p class="para-dis">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.Temporibus aliquid minus earum quo, architecto cum laborum! Odit dolor a voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, nesciunt!
            </p>
            <a href="/weather" class="btn">Check Weather</a>
        </div>
        <figure class="main-img-cont">
            <img src="./img/developer.svg" class="main-img" alt="" srcset="">
        </figure>
    </section>
    {{>footer}}
    <script src="/js/script.js"></script>

</body>
</html>