    <nav class="nab-bar">
        <figure class="logo">
            <img src="/img/logo.png" class="logo-img" alt="logo" srcset="">
            
        </figure>
        <div id="mobile-menu" class="nav-toggelbar">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-link">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/service">Services</a></li>
        </ul>
    </nav>